
@model Smq.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "ExternalLoginConfirmation";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
  <div class="login-right">
    <h3>Link to account @ViewBag.LoginProvider of you.</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Form enter information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
          You just proved successful with<strong>@ViewBag.LoginProvider</strong>.
            Please enter the name of the account you wish to register on MyShop below to finish the login process. The next time you will not have to perform this step ! 

        </p>
        <div class="form-group">
          @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
          <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
          </div>
        </div>
    }
  </div>
</div>