@model Smq.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập</h3>
        <p>Nếu bạn có một tài khoản. Làm ơn đăng nhập!</p>
        @using (Html.BeginForm("Login", "Account", new { returUrl = @ViewBag.ReturnUrl}, FormMethod.Post))
        { 
            <div>
                <span>Tên đăng nhập<label> *</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Mật khẩu<label> *</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu!
            </div>  
            <input type="submit" value="Đăng nhập">
            <p id="message-login">@ViewBag.Message</p>
        }
      @Html.Partial("_ExternalLoginsListPartial", new Smq.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
    <div class="login-left">
        <h3>Bạn không có một tài khoản.</h3>
        <p>Bạn hiện không có tài khoản. Vui lòng đăng ký tại liên kết dưới đây!</p>
        <a class="acount-btn" href="/dang-ky.html">Đăng ký thành viên</a>
    </div>
    <div class="clearfix"> </div>
</div>

