@model Smq.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập</h3>
        <p>Nếu bạn có một tài khoản. Làm ơn đăng nhập!</p>
        @using (Html.BeginForm("Login", "Account", new { returUrl = @ViewBag.ReturnUrl}, FormMethod.Post))
        { 
            <div>
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Mật khẩu<label>*</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu!
            </div>
            <a class="forgot" href="#">Quên mật khẩu?</a>
            <input type="submit" value="Đăng nhập">
        }
      @Html.Partial("_ExternalLoginsListPartial", new Smq.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
    <div class=" login-left">
        <h3>Bạn chưa có tài khoản.</h3>
        <p>Hiện tại bạn chưa có tài khoản. Xin vui lòng đăng ký theo link bên dưới.</p>
        <a class="acount-btn" href="/dang-ky.html">Đăng ký thành viên</a>
    </div>
    <div class="clearfix"> </div>
</div>

