@model Smq.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Login in</h3>
        <p>If you have a account. Please login!</p>
        @using (Html.BeginForm("Login", "Account", new { returUrl = @ViewBag.ReturnUrl}, FormMethod.Post))
        { 
            <div>
                <span>Username<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Password<label>*</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Remember password!
            </div>
            <a class="forgot" href="#">Forget password?</a>
            <input type="submit" value="Login">
        }
      @Html.Partial("_ExternalLoginsListPartial", new Smq.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
    <div class="login-left">
        <h3>Do not have an account.</h3>
        <p>You do not currently have an account. Please register at the link below !</p>
        <a class="acount-btn" href="/dang-ky.html">Register member(s)</a>
    </div>
    <div class="clearfix"> </div>
</div>

