@model IEnumerable<Smq.Web.Models.ProductCategoryViewModel>
<div class="sub-cate">
    <div class="top-nav rsidebar span_1_of_left">
        <h3 class="cate">CATEGORIES</h3>
        <ul class="menu">
            @foreach (var category in Model.Where(x => x.ParentID == null))
            {
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                var childCategories = Model.Where(x => x.ParentID == category.ID);
                <li>
                    @if (childCategories.Count() > 0)
                    {
                        <a href="@url">
                            @category.Name<img class="arrow-img" src="/Assets/client/images/arrow1.png" alt=""/>
                        </a>
                    }
                    else
                    {
                        <a href="@url">
                            @category.Name
                        </a>
                    }

                    @if (childCategories.Count() > 0)
                {
                        <ul class="cute">
                            @foreach (var childCategory in childCategories)
                            {
                                var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                <li class="subitem3"><a href="@childUrl">@childCategory.Name</a></li>
                            }
                        </ul>
                    }
                </li>


            }

        </ul>
    </div>
    <div class="chain-grid menu-chain">
        <a href="#"><img class="img-responsive chain" src="/Assets/client/images/wat.jpg" alt="" /></a>
        <div class="grid-chain-bottom chain-watch">
            <span class="actual dolor-left-grid">300$</span>
            <span class="reducedfrom">500$</span>
            <h6><a href="#">Watch Import</a></h6>
        </div>
    </div>
    <a class="view-all all-product" href="/san-pham.html">VIEW ALL<span> </span></a>
</div>